@media only screen and (max-width: 768px) {
  /* ABOUT SECTION */
  .about-us {
    height: 100vh;
  }

  .image-section {
    height: 150px;
    width: 200px;
  }
  .image__rect {
    height: 240px;
    width: 200px;
  }

  /* PACKAGES SECTION */
  .packages-section {
    min-height: 1100px;
    padding-top: 600px !important;
  }

  .success-img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .topbar {
    height: 11vh;
  }
}
